{% extends 'base.html' %}
{% block title %}登入{% endblock title %}
{% block content %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->

    <section class="breadcrumbs">
      <div class="container">
        <div class="d-flex justify-content-between align-items-center">
          <h2>登入</h2>
          <ol>
            <li><a href="/">首頁</a></li>
            <li>登入</li>
          </ol>
        </div>
      </div>
    </section>

    <!-- End Breadcrumbs -->

    <section class="inner-page pt-4 ">
      <div class="container-fluid">
        <!--登入-->
        <div class="row justify-content-center mt-3 pt-3">
          <div class="col-lg-5 col-sm-12">
            <h4 class="text-dark signtitle ">
              <h5 class="signtitle text-dark"><span class="text-danger star">*</span>　為必填</h5>
            </h4>
            <hr class="bg-dark">
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-5 col-sm-12">
            <label for="" class="font-dark mt-3"><span class="text-danger star">*</span>　帳號</label>
            <input type="text" class="form-control" id="userId" placeholder="輸入帳號">
            <label for="" class="font-dark mt-3 "><span class="text-danger star">*</span>　密碼</label>
            <input type="password" class="form-control " id="Password" placeholder="輸入密碼">
            <div class="btn-area text-center mt-3 mb-3">
              <button class="btn btn-success text-light" id="login-btn"><h5 class="text-white">登入</h5></button>
            </div>
          </div>  
        </div>
      </div>
      
    </section>
  </main><!-- End #main -->

{% endblock content%}

{% block script %}
  <script src="{{ url_for('static',filename='js/login.js')}}"></script>
{% endblock script %}